.banner {
  background-color: #003366;
  border-radius: 4px;
}

.banner-img {
  height: 110px;
  object-fit: cover;
  border-radius: 4px;
}

table {
  background: #fff;
}

hr {
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}
